.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  margin: 92px 24px;
  max-height: 92px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}


.header__menu {
  text-decoration: none;
}


.header__links-list {
  display: flex;
  justify-content: space-evenly;
}

.header__links-list-item {
  list-style: circle;
  text-transform: lowercase;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: 0;
}


.header__logo {
}

.contacts {
  padding-left: 45%;
  padding-right: 10%;
}

.address {
  font-style: normal;
}

.main {

}

.cover {
  display: flex;
  color: white;
  background-color: red;
  background-image: url("../../ono-tebe-nado/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  position: relative;
  height: 757px;

}

.overlay {
  background-color: rgb(0 0 0 / 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;

  z-index: 2;
  position: relative;
  align-items: center;
  margin: 165px 50px 0;
  letter-spacing: 0.32em;
  line-height: 1.225em;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
}

.outcast {
  margin-left: 27px;
}

.aligned-text_center {
  text-align: center;
  position: relative;
  right: 12px;
}

.aligned-text_right {
  text-align: right;
  position: relative;
  left: 35px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 127px 48px 0;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 0.8em;
  text-indent: 1.5em;
}

.cover__description-text {
  text-transform: uppercase;
}

.bet-button {
  color: white;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  border: 1px solid white;
  background: none;
  height: 51px;
  width: 256px;
}


.lots {
  margin-top: 50px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  color: white;
  flex-grow: 1;
  height: 563px;
  width: 334px;
  margin-top: 16px;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  background-image: url("../../ono-tebe-nado/images/card-lot-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_book {
  background-image: url("../../ono-tebe-nado/images/card-lot-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_picture {
  background-image: url("../../ono-tebe-nado/images/card-lot-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  padding: 51px 40px 0;
  text-decoration: underline;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  margin: 0 40px 48px;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
  margin: 30px 40px 0;
  text-decoration: none;
  border-bottom: 1px solid black;
}


.about {
  margin-top: 146px;
  display: grid;
  grid-template-columns: 334px 1fr;
  height: 563px;
}

.about__column {
  margin-top: 136px;
}

.about__logo {
  display: flex;
  background-color: black;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  justify-self: center;
  margin: 35px;
}

.about__logo-image {
  justify-self: center;
  align-self: center;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  margin-top: 100px;
}

.footer {
  display: grid;
  gap: 185px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  margin-bottom: 88px;
  font-size: 18px;
}

.footer__menu {}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
  text-transform: lowercase;
}

.footer__menu-link {
  border-bottom: 1px solid black;
}

.footer__menu-link_active {
  border-bottom: 0 solid transparent;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
