.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  margin: 92px 24px;
  max-height: 92px;
  align-items: center;
}


.header__menu {
  text-decoration: none;
}


.header__links-list {
  display: flex;
  justify-content: space-evenly;
}

.header__links-list-item {
  list-style: circle;
  text-transform: lowercase;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: 0;
}


.header__logo {
}

.contacts {
  padding-left: 45%;
  padding-right: 10%;
}

.address {
  /* TODO: сбросить стиль браузера */
}

.main {

}

.cover {
  display: flex;
  color: white;
  background-color: red;
  background-image: url("../../ono-tebe-nado/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  position: relative;
  height: 757px;

}

.overlay {
  background-color: rgb(0 0 0 / 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;

  z-index: 2;
  position: relative;
  align-items: center;
  margin: 165px 50px;
  letter-spacing: 0.4em;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
}

.last_button {
  margin-left: 30px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px 78px;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 0.6em;
}

.cover__description-text {
  text-transform: uppercase;
}

.bet-button {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  border: 1px solid white;
  background: none;
  height: 51px;
}


.lots {
  margin-top: 50px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  color: white;
  background-color: red;
  flex-grow: 1;
  height: 563px;
  width: 334px;
  margin: 16px 0;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 27px;
  height: 100%;
}

.card_type_film {
  background-image: url("../../ono-tebe-nado/images/card-lot-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_book {
  background-image: url("../../ono-tebe-nado/images/card-lot-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_picture {
  background-image: url("../../ono-tebe-nado/images/card-lot-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  padding: 51px 40px 0;
  text-decoration: underline;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  margin: 0 40px 48px;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
  margin: 30px 40px 0;
  text-decoration: none;
  border-bottom: 1px solid black;
}


.about {
  background-color: palegoldenrod;
}

.footer {
}
