.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  margin: 92px 24px;
  max-height: 92px;
  align-items: center;
}


.header__menu {
  text-decoration: none;
}


.header__links-list {
  display: flex;
  justify-content: space-evenly;
}

.header__links-list-item {
  list-style: circle;
  text-transform: lowercase;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: 0;
}


.header__logo {
}

.contacts {
  padding-left: 45%;
  padding-right: 10%;
}

.address {
  /* TODO: сбросить стиль браузера */
}

.main {

}

.cover {
  display: flex;
  color: white;
  background-color: red;
  background-image: url("../../ono-tebe-nado/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  position: relative;
  height: 757px;

}

.overlay {
  background-color: rgb(0 0 0 / 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;

  z-index: 2;
  position: relative;
  align-items: center;
  margin: 165px 50px;
  letter-spacing: 0.4em;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
}

.last_button {
  margin-left: 30px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px 78px;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 0.6em;
}

.cover__description-text {
  text-transform: uppercase;
}

.bet-button {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  border: 1px solid white;
  background: none;
  height: 51px;
}


.lots {
  background-color: deepskyblue;
}

.about {
  background-color: palegoldenrod;
}

.footer {
}
